configuration {
 show-icons: true;
 modi: "window,drun";
 font: "hack 12";
 combi-modi: "window,drun";
}
/* @theme "~/.config/rofi/themes/rounded-nord-dark.rasi" */
@theme "~/.config/rofi/themes/Arc-Dark.rasi"
/* @theme "~/.config/rofi/themes/squared-material-red.rasi" */
/* @theme "~/.config/rofi/themes/squared-nord.rasi" */
